{% extends "base.html" %}
{% load static %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}" />
{% endblock %}

{% block title %}
Список товара
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="page-header__inner">
            <h1>Список товаров</h1>
            <p>Управление ассортиментом и минимальными количествами</p>
        </div>
    </div>

    <!-- Фильтр поиска -->
    <div class='filter container'> 
        {% if user.is_staff or user.is_superuser %}
            <div class='controls'>
                <input type='text' id="search" name="search" placeholder='Поиск' value='{{ search_query }}'/>
            </div>
        {% endif %}
    </div>

    <!-- Контейнер для списка товаров (обновляется через AJAX) -->
    <div id='products-container'>
        {% include 'products/product_list-filtered.html' %}
    </div>

    <!-- Скрипт поиска -->
    <script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
    <script>
        $(document).ready(function(){
            let debounceTimer;

            function updateProducts(){
                const search = $('#search').val(); 

                $.ajax({
                    url: window.location.pathname,
                    type: 'GET',
                    data: { search: search },
                    headers: { 'X-Requested-With': 'XMLHttpRequest' },
                    success: function(data){
                        // Заменяем содержимое контейнера на новый список
                        $('#products-container').html(data);
                    },
                    error: function(xhr, status, error){
                        console.error('Ошибка загрузки данных:', error);
                    }
                });
            }

            if($('#search').length){
                $('#search').on('input', function(){
                    clearTimeout(debounceTimer);
                    // Ждем 300мс после окончания ввода перед отправкой запроса
                    debounceTimer = setTimeout(updateProducts, 300);
                });
            }
        });
    </script>

{% endblock %}